input{
    height: 50px;
  }
  input,
  textarea {
    border-left: 5px solid #f1f1f1 !important;
  }
  
  label,
  input,button {
    font-family: 'Open Sans', sans-serif;
  }
  
  .contact-page{
    margin: 60px 0;
  }
  
  .contact-card{
    padding: 30px !important;
    border-radius: 10px !important;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .contact-submit{
    border: none !important;
    width: 150px;
   
  }

  @media (min-width: 768px) {
    .contact-submit{
      background-color: orangered !important;
    }
  }